@font-face {
   font-family: Helvetica Neue;
   src: url('../fonts/HelveticaNeue.otf');
   src: local("Helvetica Neue"), url('../fonts/HelveticaNeue.otf') format ("opentype");
}

@font-face {
   font-family: Helvetica Neue;
   font-weight: Light;
   src: url('../fonts/HelveticaNeue-Light.otf');
   src: local("Helvetica Neue"), url('../fonts/HelveticaNeue-Light.otf') format ("opentype");
}

@font-face {
   font-family: Lucida Grande;
   src: url('../fonts/LucidaGrande.otf');
   src: local("Lucida Grande"), url('../fonts/LucidaGrande.otf') format ("opentype");
}

@font-face {
   font-family: Lucida Grande;
   font-weight: bold;
   src: url('../fonts/LucidaGrande-Bold.otf');
   src: local("Lucida Grande"), url('../fonts/LucidaGrande-Bold.otf') format ("opentype");
}

html, body { 
   background: #cbcbcb url(../images/bg.png) repeat-x; 
	height: 100%;
	min-width: 800px;

   font-family: Lucida Grande, Helvetica Neue;
   font-size: 13px; line-height: 18px; color: #000; 
	text-shadow: 0 1px 1px #fff;
   text-rendering: optimizeLegibility; 
   -webkit-font-smoothing: antialiased;
}

#push
{
	height: 250px;
}
