@import url(http://fonts.googleapis.com/css?family=Lato:300);

html, body { 
   background: #cbcbcb url(../img/bg.png) repeat-x; 
	height: 95%;
	min-width: 800px;

   font-family: Helvetica, Arial, sans-sarif;
   font-size: 13px; line-height: 18px; color: #000; 
	text-shadow: 0 1px 1px #fff;
   text-rendering: optimizeLegibility; 
   -webkit-font-smoothing: antialiased;
   margin: 0; padding: 0;
}
